{% extends 'layouts/main.html' %} 
{% block content %}

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg- mt-5 mb-5">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-lg-5">
                                    <h4>Who we are</h4>
                                    <p>Tech Blog is a personal blog for handcrafted, cameramade photography content, fashion styles from independent creatives around the world.</p>
                   
                                    <h4>How we help?</h4>
                                    <p>Etiam vulputate urna id libero auctor maximus. Nulla dignissim ligula diam, in sollicitudin ligula congue quis turpis dui urna nibhs. </p>
             
                                    <h4>Pre-Sale Question</h4>
                                    <p>Fusce dapibus nunc quis quam tempor vestibulum sit amet consequat enim. Pellentesque blandit hendrerit placerat. Integertis non.</p>
                                </div>
                                <div class="contact">
                                    <div class="container">
                                        <div class="row">
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class="alert alert-success" role="alert">
                                                        {{ message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>                                               
                                        <div class="col-lg-7">
                                            <div class="contact-form">                                        
                                                <form name="{% url 'contact' %}" method="post">
                                                    {% csrf_token %}
                                                    {% comment %} <input type="text" class="form-control" required placeholder="Your name"><br>  {% endcomment %}
                                                    <input type="text" name="email" class="form-control" required placeholder="Email address"><br>
                                                    {% comment %} <input type="text" class="form-control" required placeholder="Phone"><br> {% endcomment %}
                                                    <input type="text" name="subject" class="form-control" required placeholder="Subject"><br>
                                                    <textarea class="form-control" name="message" required placeholder="Your message"></textarea>
                                                    <button type="submit" class="btn btn-primary">Send <i class="fa fa-envelope-open-o"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        {% endblock %}

 